/social-school-network/.vs
/social-school-network/SSS/obj
/social-school-network/SSS/bin
/social-school-network/SSS/Content/Upload
/social-school-network/SSS/Videos
/social-school-network/Services/bin
/social-school-network/Services/obj
